# Create database tables

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import relationship

In [2]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:4rabf037@f19server.apan5310.com:50201/Medicare_Plan_Project'

In [3]:
import psycopg2
# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [4]:
# Pass the SQL statements that create all tables
stmt = """
    CREATE TABLE provider_names(

        name_id int,

        provider_lastname_organizationname varchar(100),

        first_name varchar(50),

        middle_initial varchar(2),

        credentials varchar(20),

        gender varchar(1),

        PRIMARY KEY (name_id)

        );
    CREATE TABLE providers_misc (

        providers_misc_id int,

        entity_code varchar(1),

        average_age_beneficiaries int,

        average_hcc_risk_score_ben numeric(6,4),

        PRIMARY KEY (providers_misc_id)

        );

    CREATE TABLE provider_addresses (

        address_id int,

        street_address varchar,

        city varchar,

        zip_code varchar,

        state varchar,

        country varchar,

        PRIMARY KEY (address_id)

        );

    CREATE TABLE provider_types( provider_type_id int,

        provider_type varchar(75) NOT NULL,

        PRIMARY KEY (provider_type_id)

        );

    CREATE TABLE medicare_participants(

        medicare_participant_id int,

        med_participation varchar(1) NOT NULL,

        number_medicareBen int,

        PRIMARY KEY (medicare_participant_id)

        );

    CREATE TABLE providers(

        npi int,

        name_id int,

        provider_type_id int,

        address_id int,

        medicare_participant_id int,

        providers_misc_id int,

        PRIMARY KEY (npi),

        FOREIGN KEY (name_id) REFERENCES provider_names(name_id),

        FOREIGN KEY (provider_type_id) REFERENCES provider_types(provider_type_id),

        FOREIGN KEY (address_id) REFERENCES provider_addresses(address_id),

        FOREIGN KEY (medicare_participant_id) REFERENCES medicare_participants(medicare_participant_id),

        FOREIGN KEY (providers_misc_id) REFERENCES providers_misc(providers_misc_id)

            ON DELETE CASCADE

            ON UPDATE CASCADE

            ); 
    CREATE TABLE medicare_charges (

        charges_id int,

        npi int,

        submitted_charges_amount int,

        medicare_allowed_amount int,

        medicare_payment_amount int,

        PRIMARY KEY (charges_id),

        FOREIGN KEY (npi) REFERENCES providers (npi)

            ON DELETE CASCADE

            ON UPDATE CASCADE

            );

    CREATE TABLE gender_beneficiaries(

        npi int,

        gender varchar(1),

        count int,

        PRIMARY KEY(npi,gender),

        FOREIGN KEY (npi) REFERENCES providers (npi)

            ON DELETE CASCADE

            ON UPDATE CASCADE

            );

    CREATE TABLE race_beneficiaries (

        npi int,

        race varchar(40),

        count int,

        PRIMARY KEY (npi, race), 
        
        FOREIGN KEY (npi) REFERENCES providers (npi)
        
        ON DELETE CASCADE            
            
        ON UPDATE CASCADE,

        CHECK(race IN('non-hispanic_white','black_or_african_american','asian_pacific_islander','hispanic','american_indianalaska_native','other'))     
        );

    CREATE TABLE entitlement_beneficiaries (

        npi int,

        entitlement_type varchar,

        count int,

        PRIMARY KEY (npi, entitlement_type),

        FOREIGN KEY (npi) REFERENCES providers (npi)
        
            ON DELETE CASCADE

            ON UPDATE CASCADE,
            
        CHECK (entitlement_type IN ('medicare_only' , 'medicare_medicaid'))
        
            );

    CREATE TABLE chronic_illness (

        npi int,

        chronic_illness varchar(50),

        percent int,

        PRIMARY KEY (npi, chronic_illness),

        FOREIGN KEY (npi) REFERENCES providers (npi)
            
            ON DELETE CASCADE 
            
            ON UPDATE CASCADE,

        CHECK (chronic_illness IN ('Atrial Fibrillation' ,'Alzheimer’s Disease or Dementia', 'Asthma', 'Cancer', 'Heart Failure', 'Chronic Kidney Disease', 'Chronic Obstructive Pulmonary Disease', 'Depression', 'Diabetes', 'Hyperlipidemia', 'Hypertension', 'Ischemic Heart Disease', 'Osteoporosis', 'Rheumatoid Arthritis / Osteoarthritis', 'Schizophrenia / Other Psychotic Disorders', 'Stroke'))

            );

    CREATE TABLE age_range_beneficiaries (

        npi int,

        age_range varchar(20),

        count int,

        PRIMARY KEY (npi, age_range),

        FOREIGN KEY (npi) REFERENCES providers (npi)
            
            ON DELETE CASCADE 
            
            ON UPDATE CASCADE        
        ,

        CHECK (age_range IN('Age Less 65','Age 65 to 74','Age 75 to 84','Age Greater 84'))

            );

    CREATE TABLE medicare_drug_payments (

        drug_payments_id int,

        npi int,

        number_medicare_beneficiaries_with_drug int,

        drug_submitted_charges numeric(12,2),

        drug_medicare_allowed numeric(12,2),

        drug_medicare_payment numeric(12,2),

        PRIMARY KEY (drug_payments_id),
           
        FOREIGN KEY (npi) REFERENCES providers (npi)
        
            ON DELETE CASCADE

            ON UPDATE CASCADE

            );

    CREATE TABLE medical_payment ( 
        
        medical_payment_id int,

        npi int,

        submitted_charges numeric (12,2),

        medicare_allowed numeric (12,2),

        medicare_payment numeric (12,2),

        PRIMARY KEY (medical_payment_id),

        FOREIGN KEY (npi) REFERENCES providers (npi)

            ON DELETE CASCADE

            ON UPDATE CASCADE

        );

    CREATE TABLE drug_services (

        drug_services_id int,

        npi int,

        drug_suppress_indicator varchar(1),

        number_of_hcpcs_associated_with_drug_services int,

        number_of_drug_services int,

        PRIMARY KEY (drug_services_id),

        FOREIGN KEY (npi) REFERENCES providers (npi)

            ON DELETE CASCADE

            ON UPDATE CASCADE

            );

    CREATE TABLE medical_services (

        medical_services_id int,

        npi int,

        medical_suppress_indicator varchar(1),

        number_of_hcpcs_medical_services int, number_medical_services int,

        Number_of_medicare_beneficiaries_with_medical_services int,

        PRIMARY KEY (medical_services_id),

        FOREIGN KEY (npi) references providers(npi)

            ON DELETE CASCADE

            ON UPDATE CASCADE

            );
"""

In [5]:
# Execute the statement to create tables
connection.execute(stmt)

# Extract, Transform and Load (ETL)

In [14]:
df = pd.read_csv('medicare-physician-and-other-supplier-national-provider-identifier-npi-aggregate-report-calendar-year-2012.csv',low_memory=False)

In [15]:
# Since the dataset is large and the processing time into team server is at least 10 hours,we decided to select the top 50000
df = df[:50000]

In [16]:
df.head()

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,...,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Heart Failure,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,BRAGANZA,LUTHER,Q,PT,M,I,134 N OLD DIXIE HWY,NaN,LADY LAKE,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,PATTON,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

In [17]:
# Change column name: replace special character with '_' and change to lower case
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('/', '').str.replace('%', '')

In [18]:
df.head()

,npi,nppes_provider_last_name__organization_name,nppes_provider_first_name,nppes_provider_middle_initial,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street_address_1,nppes_provider_street_address_2,nppes_provider_city,...,percent__of_beneficiaries_identified_with_diabetes,percent__of_beneficiaries_identified_with_heart_failure,percent__of_beneficiaries_identified_with_hyperlipidemia,percent__of_beneficiaries_identified_with_hypertension,percent__of_beneficiaries_identified_with_ischemic_heart_disease,percent__of_beneficiaries_identified_with_osteoporosis,percent__of_beneficiaries_identified_with_rheumatoid_arthritis__osteoarthritis,percent__of_beneficiaries_identified_with_schizophrenia__other_psychotic_disorders,percent__of_beneficiaries_identified_with_stroke,average_hcc_risk_score_of_beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,BRAGANZA,LUTHER,Q,PT,M,I,134 N OLD DIXIE HWY,NaN,LADY LAKE,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,PATTON,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 67 columns):
npi                                                                                   50000 non-null int64
nppes_provider_last_name__organization_name                                           50000 non-null object
nppes_provider_first_name                                                             46927 non-null object
nppes_provider_middle_initial                                                         35545 non-null object
nppes_credentials                                                                     45703 non-null object
nppes_provider_gender                                                                 46928 non-null object
nppes_entity_code                                                                     50000 non-null object
nppes_provider_street_address_1                                                       50000 non-null object
nppes_provider_street_address_2                                                       20707 non-null object
nppes_provider_city                                                                   50000 non-null object
nppes_provider_zip_code                                                               50000 non-null object
nppes_provider_state                                                                  50000 non-null object
nppes_provider_country                                                                50000 non-null object
provider_type                                                                         50000 non-null object
medicare_participation_indicator                                                      50000 non-null object
number_of_hcpcs                                                                       50000 non-null int64
number_of_services                                                                    50000 non-null int64
number_of_unique_beneficiaries                                                        50000 non-null int64
total_submitted_charges                                                               50000 non-null float64
total_medicare_allowed_amount                                                         50000 non-null float64
total_medicare_payment_amount                                                         50000 non-null float64
drug_suppress_indicator                                                               5136 non-null object
number_of_hcpcs_associated_with_drug_services                                         44864 non-null float64
number_of_drug_services                                                               44864 non-null float64
number_of_unique_beneficiaries_with_drug_services                                     44864 non-null float64
total_drug_submitted_charges                                                          44864 non-null float64
total_drug_medicare_allowed_amount                                                    44864 non-null float64
total_drug_medicare_payment_amount                                                    44864 non-null float64
medical_suppress_indicator                                                            5136 non-null object
number_of_hcpcs_associated_with_medical_services                                      44864 non-null float64
number_of_medical_services                                                            44864 non-null float64
number_of_unique_beneficiaries_with_medical_services                                  44864 non-null float64
total_medical_submitted_charges                                                       44864 non-null float64
total_medical_medicare_allowed_amount                                                 44864 non-null float64
total_medical_medicare_payment_amount                                                 44864 non-null float64
average_age_of_beneficiaries                                                          50000 non-null int64
number_of_beneficiaries_age_less_than_65                                              34245 non-null float64
number_of_beneficiaries_age_65_to_74                                                  42043 non-null float64
number_of_beneficiaries_age_75_to_84                                                  36617 non-null float64
number_of_beneficiaries_age_greater_84                                                31094 non-null float64
number_of_female_beneficiaries                                                        44767 non-null float64
number_of_male_beneficiaries                                                          44767 non-null float64
number_of_non-hispanic_white_beneficiaries                                            32656 non-null float64
number_of_black_or_african_american_beneficiaries                                     16698 non-null float64
number_of_asian_pacific_islander_beneficiaries                                        8550 non-null float64
number_of_hispanic_beneficiaries                                                      12967 non-null float64
number_of_american_indianalaska_native_beneficiaries                                  13359 non-null float64
number_of_beneficiaries_with_race_not_elsewhere_classified                            6472 non-null float64
number_of_beneficiaries_with_medicare_only_entitlement                                38191 non-null float64
number_of_beneficiaries_with_medicare_&_medicaid_entitlement                          38191 non-null float64
percent__of_beneficiaries_identified_with_alzheimer’s_disease_or_dementia             33362 non-null float64
percent__of_beneficiaries_identified_with_asthma                                      31494 non-null float64
percent__of_beneficiaries_identified_with_atrial_fibrillation                         33982 non-null float64
percent__of_beneficiaries_identified_with_cancer                                      34020 non-null float64
percent__of_beneficiaries_identified_with_chronic_kidney_disease                      39017 non-null float64
percent__of_beneficiaries_identified_with_chronic_obstructive_pulmonary_disease       36706 non-null float64
percent__of_beneficiaries_identified_with_depression                                  41656 non-null float64
percent__of_beneficiaries_identified_with_diabetes                                    43088 non-null float64
percent__of_beneficiaries_identified_with_heart_failure                               37885 non-null float64
percent__of_beneficiaries_identified_with_hyperlipidemia                              46397 non-null float64
percent__of_beneficiaries_identified_with_hypertension                                47341 non-null float64
percent__of_beneficiaries_identified_with_ischemic_heart_disease                      42980 non-null float64
percent__of_beneficiaries_identified_with_osteoporosis                                32332 non-null float64
percent__of_beneficiaries_identified_with_rheumatoid_arthritis__osteoarthritis        44810 non-null float64
percent__of_beneficiaries_identified_with_schizophrenia__other_psychotic_disorders    26787 non-null float64
percent__of_beneficiaries_identified_with_stroke                                      28236 non-null float64
average_hcc_risk_score_of_beneficiaries                                               50000 non-null float64
dtypes: float64(46), int64(5), object(16)
memory usage: 25.6+ MB

# Load data

provider_names

In [24]:
# Check NA value in provider last name, there is no NA calue in last name, some NA in first name.
df.nppes_provider_last_name__organization_name.isna().sum()
df.nppes_provider_first_name.isna().sum()

3073

In [19]:
# Combine first name and last name to check the number of duplicated names
df['Name'] = df['nppes_provider_last_name__organization_name'].str.cat(df['nppes_provider_first_name'], sep =" ")

In [21]:
df.Name[df.Name.duplicated()] # 4367 duplicated names

32                  NaN
37                  NaN
63                  NaN
66                  NaN
83                  NaN
              ...
49945     SCHULMAN JOEL
49958    WESTON CHARLES
49962               NaN
49966       EVANS DAVID
49972      SMITH SHEILA
Name: Name, Length: 4367, dtype: object

In [26]:
# Although there are duplicated names, since the npi is unique, we can ignore the duplicate, and take them as unique providers.
# Add name_id index
df.insert(1, 'name_id', range(1, 1 + len(df)))

In [27]:
df.head()

,npi,name_id,nppes_provider_last_name__organization_name,nppes_provider_first_name,nppes_provider_middle_initial,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street_address_1,nppes_provider_street_address_2,...,percent__of_beneficiaries_identified_with_heart_failure,percent__of_beneficiaries_identified_with_hyperlipidemia,percent__of_beneficiaries_identified_with_hypertension,percent__of_beneficiaries_identified_with_ischemic_heart_disease,percent__of_beneficiaries_identified_with_osteoporosis,percent__of_beneficiaries_identified_with_rheumatoid_arthritis__osteoarthritis,percent__of_beneficiaries_identified_with_schizophrenia__other_psychotic_disorders,percent__of_beneficiaries_identified_with_stroke,average_hcc_risk_score_of_beneficiaries,Name
0,1003000126,1,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,...,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264,ENKESHAFI ARDALAN
1,1003000134,2,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,...,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703,CIBULL THOMAS
2,1003000142,3,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,...,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967,KHALIL RASHID
3,1003000381,4,BRAGANZA,LUTHER,Q,PT,M,I,134 N OLD DIXIE HWY,NaN,...,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687,BRAGANZA LUTHER
4,1003000407,5,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,...,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170,GIRARDI DAVID

In [15]:
# Subset certain columns to get provider_names table
provider_names = df[['name_id','nppes_provider_last_name__organization_name', 'nppes_provider_first_name','nppes_provider_middle_initial','nppes_provider_middle_initial','nppes_provider_gender']]

In [16]:
# Rename the columns to align with the schema we set before
provider_names.columns = ['name_id','provider_lastname_organizationname','first_name','middle_initial','credentials','gender']

In [22]:
# Populate the database
provider_names[['name_id','provider_lastname_organizationname','first_name','middle_initial','credentials','gender']]. \
    drop_duplicates().to_sql(name='provider_names', con=engine, if_exists='append', index=False)

providers_misc

In [28]:
# Check number of NA value in entity code
df.nppes_entity_code.isna().sum() # 0

0

In [23]:
# Add providers_misc_id index
df.insert(7, 'providers_misc_id', range(1, 1 + len(df)))

In [24]:
df.head()

,npi,name_id,nppes_provider_last_name__organization_name,nppes_provider_first_name,nppes_provider_middle_initial,nppes_credentials,nppes_provider_gender,providers_misc_id,nppes_entity_code,nppes_provider_street_address_1,...,percent__of_beneficiaries_identified_with_diabetes,percent__of_beneficiaries_identified_with_heart_failure,percent__of_beneficiaries_identified_with_hyperlipidemia,percent__of_beneficiaries_identified_with_hypertension,percent__of_beneficiaries_identified_with_ischemic_heart_disease,percent__of_beneficiaries_identified_with_osteoporosis,percent__of_beneficiaries_identified_with_rheumatoid_arthritis__osteoarthritis,percent__of_beneficiaries_identified_with_schizophrenia__other_psychotic_disorders,percent__of_beneficiaries_identified_with_stroke,average_hcc_risk_score_of_beneficiaries
0,1003000126,1,ENKESHAFI,ARDALAN,NaN,M.D.,M,1,I,900 SETON DR,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,2,CIBULL,THOMAS,L,M.D.,M,2,I,2650 RIDGE AVE,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,3,KHALIL,RASHID,NaN,M.D.,M,3,I,4126 N HOLLAND SYLVANIA RD,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,4,BRAGANZA,LUTHER,Q,PT,M,4,I,134 N OLD DIXIE HWY,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,5,GIRARDI,DAVID,J,D.O.,M,5,I,456 MAGEE AVE,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

In [26]:
# Subset certain columns to get provider_misc table
providers_misc = df[['providers_misc_id','nppes_entity_code','average_age_of_beneficiaries','average_age_of_beneficiaries']]

In [27]:
# Rename the columns to align with the schema we set before
providers_misc.columns = ['providers_misc_id','entity_code','average_age_beneficiaries','average_hcc_risk_score_ben']

In [28]:
# Populate the database
providers_misc[['providers_misc_id','entity_code','average_age_beneficiaries','average_hcc_risk_score_ben']]. \
    drop_duplicates().to_sql(name='providers_misc', con=engine, if_exists='append', index=False)

provider_addresses

In [29]:
# Check number of NA value in address_1
df.nppes_provider_street_address_1.isna().sum() # 0

0

In [29]:
# Add address_id index
df.insert(9, 'address_id', range(1, 1 + len(df)))

In [30]:
# Merge address_1 and address_2, which is the apartment number
df['nppes_provider_street_address_1'] = df['nppes_provider_street_address_1'].astype(str) + df['nppes_provider_street_address_2']

In [31]:
df['nppes_provider_street_address_1']

0                                        NaN
1            2650 RIDGE AVEEVANSTON HOSPITAL
2        4126 N HOLLAND SYLVANIA RDSUITE 220
3                                        NaN
4                                        NaN
                        ...
49995                                    NaN
49996                  8550 LEE HWYSUITE 450
49997                                    NaN
49998                                    NaN
49999                                    NaN
Name: nppes_provider_street_address_1, Length: 50000, dtype: object

In [32]:
# Subset certain columns to get provider_misc table
provider_addresses = df[['address_id','nppes_provider_street_address_1','nppes_provider_city','nppes_provider_zip_code','nppes_provider_state','nppes_provider_country']]

In [33]:
# Rename the columns to align with the schema we set before
provider_addresses.columns = ['address_id','street_address','city','zip_code','state','country']

In [34]:
# Populate the database
provider_addresses[['address_id','street_address','city','zip_code','state','country']]. \
    drop_duplicates().to_sql(name='provider_addresses', con=engine, if_exists='append', index=False)

provider_types

In [30]:
# Check number of NA value in provider type
df.provider_type.isna().sum() # 0

0

In [35]:
# Add provider_type_id index
df.insert(16, 'provider_type_id', range(1, 1 + len(df)))

In [36]:
df.head()

,npi,name_id,nppes_provider_last_name__organization_name,nppes_provider_first_name,nppes_provider_middle_initial,nppes_credentials,nppes_provider_gender,providers_misc_id,nppes_entity_code,address_id,...,percent__of_beneficiaries_identified_with_diabetes,percent__of_beneficiaries_identified_with_heart_failure,percent__of_beneficiaries_identified_with_hyperlipidemia,percent__of_beneficiaries_identified_with_hypertension,percent__of_beneficiaries_identified_with_ischemic_heart_disease,percent__of_beneficiaries_identified_with_osteoporosis,percent__of_beneficiaries_identified_with_rheumatoid_arthritis__osteoarthritis,percent__of_beneficiaries_identified_with_schizophrenia__other_psychotic_disorders,percent__of_beneficiaries_identified_with_stroke,average_hcc_risk_score_of_beneficiaries
0,1003000126,1,ENKESHAFI,ARDALAN,NaN,M.D.,M,1,I,1,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,2,CIBULL,THOMAS,L,M.D.,M,2,I,2,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,3,KHALIL,RASHID,NaN,M.D.,M,3,I,3,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,4,BRAGANZA,LUTHER,Q,PT,M,4,I,4,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,5,GIRARDI,DAVID,J,D.O.,M,5,I,5,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

In [37]:
# Subset certain columns to get provider_misc table
provider_types = df[['provider_type_id','provider_type']]

In [38]:
provider_types.head()

   provider_type_id       provider_type
0                 1   Internal Medicine
1                 2           Pathology
2                 3      Anesthesiology
3                 4  Physical Therapist
4                 5     Family Practice

In [39]:
# Populate the database
provider_types[['provider_type_id','provider_type']]. \
    drop_duplicates().to_sql(name='provider_types', con=engine, if_exists='append', index=False)

medicare_participants

In [31]:
# Check number of NA value in medicare_participation_indicator
df.medicare_participation_indicator.isna().sum() # 0

0

In [40]:
# Add medicare_participant_id index
df.insert(18, 'medicare_participant_id', range(1, 1 + len(df)))

In [41]:
# Subset certain columns to get medicare_participants table
medicare_participants = df[['medicare_participant_id','medicare_participation_indicator','number_of_unique_beneficiaries']]

In [42]:
# Rename the columns to align with the schema we set before
medicare_participants.columns = ['medicare_participant_id','med_participation','number_medicareben']

In [43]:
# Populate the database
medicare_participants[['medicare_participant_id','med_participation','number_medicareben']]. \
    drop_duplicates().to_sql(name='medicare_participants', con=engine, if_exists='append', index=False)

providers

In [44]:
# Subset certain columns to get providers table
providers = df[['npi','name_id','provider_type_id','address_id','medicare_participant_id','providers_misc_id']]

In [45]:
# Populate the database
providers[['npi','name_id','provider_type_id','address_id','medicare_participant_id','providers_misc_id']]. \
    drop_duplicates().to_sql(name='providers', con=engine, if_exists='append', index=False)

In [46]:
# Add delete and update cascade
providers = relationship("providers", cascade="all,delete", backref="provider_names")

medicare_charges

In [32]:
# Check number of NA value in total_submitted_charges
df.total_submitted_charges.isna().sum() # 0

0

In [47]:
# Add charges_id index
df.insert(26, 'charges_id', range(1, 1 + len(df)))

In [48]:
# Subset certain columns to get medicare_charges table
medicare_charges = df[['charges_id','npi','total_submitted_charges','total_medicare_allowed_amount','total_medicare_payment_amount']]

In [49]:
# Rename the columns to align with the schema we set before
medicare_charges.columns = ['charges_id','npi','submitted_charges_amount','medicare_allowed_amount','medicare_payment_amount']

In [50]:
# Populate the database
medicare_charges[['charges_id','npi','submitted_charges_amount','medicare_allowed_amount','medicare_payment_amount']]. \
    drop_duplicates().to_sql(name='medicare_charges', con=engine, if_exists='append', index=False)

In [51]:
# Add delete and update cascade
medicare_charges = relationship("medicare_charges", cascade="all,delete", backref="providers")

gender_beneficiaries

In [52]:
# Subset certain columns to get gender_beneficiaries table
gender_beneficiaries = df[['npi','number_of_female_beneficiaries','number_of_male_beneficiaries']]

In [53]:
# Subset certain columns to get female table
female = gender_beneficiaries[['npi','number_of_female_beneficiaries']]

In [54]:
# Subset certain columns to get male table
male = gender_beneficiaries[['npi','number_of_male_beneficiaries']]

In [55]:
# Add gender column, label female as f
female['gender'] = 'f'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
# Add gender column, label male as m
male['gender'] = 'm'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
female

              npi  number_of_female_beneficiaries gender
0      1003000126                           309.0      f
1      1003000134                          1927.0      f
2      1003000142                            71.0      f
3      1003000381                            17.0      f
4      1003000407                           251.0      f
...           ...                             ...    ...
49995  1053379917                           220.0      f
49996  1053379925                            37.0      f
49997  1053379958                           125.0      f
49998  1053379966                            42.0      f
49999  1053379990                           217.0      f

[50000 rows x 3 columns]

In [58]:
# Rename female table to be able to merge with male table
female.columns = ['npi','count','gender']

In [59]:
# Rename male table to be able to merge with female table
male.columns = ['npi','count','gender']

In [60]:
# Merge female and male table
gender_beneficiaries = pd.concat([female,male])

In [61]:
# Get the final table which matched with the designed schema
gender_beneficiaries

              npi   count gender
0      1003000126   309.0      f
1      1003000134  1927.0      f
2      1003000142    71.0      f
3      1003000381    17.0      f
4      1003000407   251.0      f
...           ...     ...    ...
49995  1053379917   188.0      m
49996  1053379925    22.0      m
49997  1053379958    63.0      m
49998  1053379966    46.0      m
49999  1053379990   126.0      m

[100000 rows x 3 columns]

In [62]:
# Populate the database
gender_beneficiaries[['npi','gender','count']]. \
    drop_duplicates().to_sql(name='gender_beneficiaries', con=engine, if_exists='append', index=False)

In [63]:
# Add delete and update cascade
gender_beneficiaries = relationship("gender_beneficiaries", cascade="all,delete", backref="providers")

race_beneficiaries

In [64]:
# Subset certain columns to get race_black table
race_black = df[['npi','number_of_black_or_african_american_beneficiaries']]

In [65]:
# Add a race column to label certain race 
race_black['race'] = 'black_or_african_american'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
# Filter out null value rows
race_black = race_black[race_black.number_of_black_or_african_american_beneficiaries.notnull()]

In [67]:
# Rename columns to be able to merge with other race
race_black.columns = ['npi','count','race']

In [68]:
# Filter out 0 value rows
race_black = race_black[race_black['count']!=0]

In [69]:
# Subset certain columns to get race_white table
race_white = df[['npi','number_of_non-hispanic_white_beneficiaries']]

In [70]:
# Add a race column to label certain race 
race_white['race'] = 'non-hispanic_white'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
# Rename columns to be able to merge with other race
race_white.columns = ['npi','number_of_non_hispanic_white_beneficiaries','race']

In [72]:
# Filter out null value rows
race_white = race_white[race_white.number_of_non_hispanic_white_beneficiaries.notnull()]

In [73]:
# Rename columns to be able to merge with other race
race_white.columns = ['npi','count','race']

In [74]:
# Filter out 0 value rows
race_white = race_white[race_white['count']!=0]

In [75]:
# Same process as the white and black above
race_asian = df[['npi','number_of_asian_pacific_islander_beneficiaries']]
race_asian['race'] = 'asian_pacific_islander'
race_asian = race_asian[race_asian.number_of_asian_pacific_islander_beneficiaries.notnull()]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
race_asian.columns = ['npi','count','race']

In [77]:
race_asian = race_asian[race_asian['count']!=0]

In [78]:
race_his = df[['npi','number_of_hispanic_beneficiaries']]
race_his['race'] = 'hispanic'
race_his = race_his[race_his.number_of_hispanic_beneficiaries.notnull()]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [79]:
race_his.columns = ['npi','count','race']

In [80]:
race_his = race_his[race_his['count']!=0]

In [81]:
race_ind = df[['npi','number_of_american_indianalaska_native_beneficiaries']]
race_ind['race'] = 'american_indianalaska_native'
race_ind = race_ind[race_ind.number_of_american_indianalaska_native_beneficiaries.notnull()]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
race_ind.columns = ['npi','count','race']

In [83]:
race_ind = race_ind[race_ind['count']!=0]

In [84]:
race_other = df[['npi','number_of_beneficiaries_with_race_not_elsewhere_classified']]
race_other['race'] = 'other'
race_other = race_other[race_other.number_of_beneficiaries_with_race_not_elsewhere_classified.notnull()]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
race_other.columns = ['npi','count','race']

In [86]:
race_other = race_other[race_other['count']!=0]

In [87]:
# Conmibe race tables into one
race_df = pd.concat([race_black,race_white,race_asian,race_his,race_ind,race_other])

In [88]:
# Take a look at the sorted race_df
race_df.sort_index(axis=0)

              npi   count                       race
0      1003000126   564.0         non-hispanic_white
1      1003000134    33.0  black_or_african_american
1      1003000134    56.0                   hispanic
1      1003000134  3677.0         non-hispanic_white
1      1003000134    37.0     asian_pacific_islander
...           ...     ...                        ...
49995  1053379917    16.0  black_or_african_american
49995  1053379917   378.0         non-hispanic_white
49997  1053379958   149.0         non-hispanic_white
49998  1053379966    69.0         non-hispanic_white
49999  1053379990   231.0         non-hispanic_white

[63267 rows x 3 columns]

In [89]:
# Populate table into the database
race_df[['npi','race','count']]. \
    drop_duplicates().to_sql(name='race_beneficiaries', con=engine, if_exists='append', index=False)

In [90]:
# Add delete and update cascade
race_beneficiaries = relationship("race_beneficiaries", cascade="all,delete", backref="providers")

entitlement_beneficiaries

In [91]:
# Subset certain columns to get medicare table
medicare = df[['npi','number_of_beneficiaries_with_medicare_only_entitlement']]

In [92]:
# Add entitlement_type column and rename to fit the schema, filter out NA and 0
medicare['entitlement_type'] = 'medicare_only'
medicare = medicare[medicare.number_of_beneficiaries_with_medicare_only_entitlement.notnull()]
medicare = medicare[medicare['number_of_beneficiaries_with_medicare_only_entitlement']!=0]
medicare.columns = ['npi','count','entitlement_type']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
# Same process as medicare
medicare_medicaid = df[['npi','number_of_beneficiaries_with_medicare_&_medicaid_entitlement']]

In [94]:
medicare_medicaid['entitlement_type'] = 'medicare_medicaid'
medicare_medicaid.columns = ['npi','count','entitlement_type']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
medicare_medicaid

              npi  count   entitlement_type
0      1003000126  182.0  medicare_medicaid
1      1003000134  142.0  medicare_medicaid
2      1003000142   41.0  medicare_medicaid
3      1003000381    NaN  medicare_medicaid
4      1003000407  150.0  medicare_medicaid
...           ...    ...                ...
49995  1053379917   31.0  medicare_medicaid
49996  1053379925    NaN  medicare_medicaid
49997  1053379958   77.0  medicare_medicaid
49998  1053379966   73.0  medicare_medicaid
49999  1053379990  157.0  medicare_medicaid

[50000 rows x 3 columns]

In [96]:
medicare_medicaid = medicare_medicaid[medicare_medicaid['count']!=0]

In [97]:
medicare_medicaid = medicare_medicaid.dropna()

In [98]:
# Merge two tables into one
entitlement_beneficiaries  = pd.concat([medicare,medicare_medicaid])

In [99]:
# Check the sorted table
entitlement_beneficiaries.sort_index(axis=0)

              npi   count   entitlement_type
0      1003000126   399.0      medicare_only
0      1003000126   182.0  medicare_medicaid
1      1003000134   142.0  medicare_medicaid
1      1003000134  3682.0      medicare_only
2      1003000142    78.0      medicare_only
...           ...     ...                ...
49997  1053379958   111.0      medicare_only
49998  1053379966    15.0      medicare_only
49998  1053379966    73.0  medicare_medicaid
49999  1053379990   186.0      medicare_only
49999  1053379990   157.0  medicare_medicaid

[75087 rows x 3 columns]

In [100]:
# Populate the database
entitlement_beneficiaries[['npi','entitlement_type','count']]. \
    drop_duplicates().to_sql(name='entitlement_beneficiaries', con=engine, if_exists='append', index=False)

In [101]:
# Add delete and update cascade
entitlement_beneficiaries = relationship("entitlement_beneficiaries", cascade="all,delete", backref="providers")

chronic_illness

In [102]:
# Subset certain columns to get atrial table
atrial = df[['npi','percent__of_beneficiaries_identified_with_atrial_fibrillation']]

In [103]:
# Add chronic_illness column and rename to fit the schema, filter out the NA and 0
atrial['chronic_illness'] = 'Atrial Fibrillation' 
atrial.columns = ['npi','percent','chronic_illness']
atrial = atrial[atrial.percent.notnull()]
atrial = atrial[atrial['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
# Same process as atrial
Alzheimer = df[['npi','percent__of_beneficiaries_identified_with_alzheimer’s_disease_or_dementia']]

In [105]:
Alzheimer['chronic_illness'] = 'Alzheimer’s Disease or Dementia' 
Alzheimer.columns = ['npi','percent','chronic_illness']
Alzheimer = Alzheimer[Alzheimer.percent.notnull()]
Alzheimer = Alzheimer[Alzheimer['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [106]:
Asthma = df[['npi','percent__of_beneficiaries_identified_with_asthma']]

In [107]:
Asthma['chronic_illness'] = 'Asthma' 
Asthma.columns = ['npi','percent','chronic_illness']
Asthma = Asthma[Asthma.percent.notnull()]
Asthma = Asthma[Asthma['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [108]:
Cancer = df[['npi','percent__of_beneficiaries_identified_with_cancer']]
Cancer['chronic_illness'] = 'Cancer' 
Cancer.columns = ['npi','percent','chronic_illness']
Cancer = Cancer[Cancer.percent.notnull()]
Cancer = Cancer[Cancer['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
heart = df[['npi','percent__of_beneficiaries_identified_with_heart_failure']]
heart['chronic_illness'] = 'Heart Failure' 
heart.columns = ['npi','percent','chronic_illness']
heart = heart[heart.percent.notnull()]
heart = heart[heart['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [110]:
Kidney = df[['npi','percent__of_beneficiaries_identified_with_chronic_kidney_disease']]
Kidney['chronic_illness'] = 'Chronic Kidney Disease' 
Kidney.columns = ['npi','percent','chronic_illness']
Kidney = Kidney[Kidney.percent.notnull()]
Kidney = Kidney[Kidney['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [111]:
Pulmonary = df[['npi','percent__of_beneficiaries_identified_with_chronic_obstructive_pulmonary_disease']]
Pulmonary['chronic_illness'] = 'Chronic Obstructive Pulmonary Disease'
Pulmonary.columns = ['npi','percent','chronic_illness']
Pulmonary = Pulmonary[Pulmonary.percent.notnull()]
Pulmonary = Pulmonary[Pulmonary['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [112]:
Depression = df[['npi','percent__of_beneficiaries_identified_with_depression']]
Depression['chronic_illness'] = 'Depression'
Depression.columns = ['npi','percent','chronic_illness']
Depression = Depression[Depression.percent.notnull()]
Depression = Depression[Depression['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [113]:
Diabetes = df[['npi','percent__of_beneficiaries_identified_with_diabetes']]
Diabetes['chronic_illness'] = 'Diabetes'
Diabetes.columns = ['npi','percent','chronic_illness']
Diabetes = Diabetes[Diabetes.percent.notnull()]
Diabetes = Diabetes[Diabetes['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [114]:
Hyperlipidemia = df[['npi','percent__of_beneficiaries_identified_with_hyperlipidemia']]
Hyperlipidemia['chronic_illness'] = 'Hyperlipidemia'
Hyperlipidemia.columns = ['npi','percent','chronic_illness']
Hyperlipidemia = Hyperlipidemia[Hyperlipidemia.percent.notnull()]
Hyperlipidemia = Hyperlipidemia[Hyperlipidemia['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [115]:
Hypertension = df[['npi','percent__of_beneficiaries_identified_with_hypertension']]
Hypertension['chronic_illness'] = 'Hypertension'
Hypertension.columns = ['npi','percent','chronic_illness']
Hypertension = Hypertension[Hypertension.percent.notnull()]
Hypertension = Hypertension[Hypertension['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [116]:
Ischemic = df[['npi','percent__of_beneficiaries_identified_with_ischemic_heart_disease']]
Ischemic['chronic_illness'] = 'Ischemic Heart Disease'
Ischemic.columns = ['npi','percent','chronic_illness']
Ischemic = Ischemic[Ischemic.percent.notnull()]
Ischemic = Ischemic[Ischemic['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [117]:
Osteoporosis = df[['npi','percent__of_beneficiaries_identified_with_osteoporosis']]
Osteoporosis['chronic_illness'] = 'Osteoporosis'
Osteoporosis.columns = ['npi','percent','chronic_illness']
Osteoporosis = Osteoporosis[Osteoporosis.percent.notnull()]
Osteoporosis = Osteoporosis[Osteoporosis['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
Rheumatoid = df[['npi','percent__of_beneficiaries_identified_with_rheumatoid_arthritis__osteoarthritis']]
Rheumatoid['chronic_illness'] = 'Rheumatoid Arthritis / Osteoarthritis'
Rheumatoid.columns = ['npi','percent','chronic_illness']
Rheumatoid = Rheumatoid[Rheumatoid.percent.notnull()]
Rheumatoid = Rheumatoid[Rheumatoid['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [119]:
Schizophrenia = df[['npi','percent__of_beneficiaries_identified_with_schizophrenia__other_psychotic_disorders']]
Schizophrenia['chronic_illness'] = 'Schizophrenia / Other Psychotic Disorders'
Schizophrenia.columns = ['npi','percent','chronic_illness']
Schizophrenia = Schizophrenia[Schizophrenia.percent.notnull()]
Schizophrenia = Schizophrenia[Schizophrenia['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [120]:
Stroke = df[['npi','percent__of_beneficiaries_identified_with_stroke']]
Stroke['chronic_illness'] = 'Stroke'
Stroke.columns = ['npi','percent','chronic_illness']
Stroke = Stroke[Stroke.percent.notnull()]
Stroke = Stroke[Stroke['percent']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [121]:
# Merge all the illness tables into one
chronic_illness = pd.concat([atrial,Alzheimer,Asthma,Cancer,heart,Kidney,Pulmonary,Depression,Diabetes,Hyperlipidemia,Hypertension,Ischemic,Osteoporosis,Rheumatoid,Schizophrenia,Stroke])

In [122]:
chronic_illness

              npi  percent      chronic_illness
0      1003000126     24.0  Atrial Fibrillation
1      1003000134     12.0  Atrial Fibrillation
2      1003000142      9.0  Atrial Fibrillation
4      1003000407     25.0  Atrial Fibrillation
7      1003000480     11.0  Atrial Fibrillation
...           ...      ...                  ...
49993  1053379867     13.0               Stroke
49994  1053379891      4.0               Stroke
49995  1053379917      3.0               Stroke
49997  1053379958     12.0               Stroke
49999  1053379990     10.0               Stroke

[577455 rows x 3 columns]

In [123]:
# Populate the database
chronic_illness[['npi','chronic_illness','percent']]. \
    drop_duplicates().to_sql(name='chronic_illness', con=engine, if_exists='append', index=False)

In [124]:
# Add delete and update cascade
chronic_illness = relationship("chronic_illness", cascade="all,delete", backref="providers")

age_range_beneficiaries

In [125]:
# Subset the relevant columns, add age_range and rename to fit the schema, filter out the NA and 0 
less_than_65 = df[['npi','number_of_beneficiaries_age_less_than_65']]
less_than_65['age_range'] = 'Age Less 65'
less_than_65.columns = ['npi','count','age_range']
less_than_65 = less_than_65.dropna()
less_than_65 = less_than_65[less_than_65['count']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [126]:
# Same process as less_than_65
age_65to74 = df[['npi','number_of_beneficiaries_age_65_to_74']]
age_65to74['age_range'] = 'Age 65 to 74'
age_65to74.columns = ['npi','count','age_range']
age_65to74 = age_65to74.dropna()
age_65to74 = age_65to74[age_65to74['count']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [127]:
Age_75to84 = df[['npi','number_of_beneficiaries_age_75_to_84']]
Age_75to84['age_range'] = 'Age 75 to 84'
Age_75to84.columns = ['npi','count','age_range']
Age_75to84 = Age_75to84.dropna()
Age_75to84 = Age_75to84[Age_75to84['count']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [128]:
greater84 = df[['npi','number_of_beneficiaries_age_greater_84']]
greater84['age_range'] = 'Age Greater 84'
greater84.columns = ['npi','count','age_range']
greater84 = greater84.dropna()
greater84 = greater84[greater84['count']!=0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [129]:
# Merge all age ranges into one
age_range_beneficiaries = pd.concat([less_than_65,age_65to74,Age_75to84,greater84])

In [130]:
# Populate the database
age_range_beneficiaries[['npi','age_range','count']]. \
    drop_duplicates().to_sql(name='age_range_beneficiaries', con=engine, if_exists='append', index=False)

In [131]:
age_range_beneficiaries = relationship("age_range_beneficiaries", cascade="all,delete", backref="providers")

medicare_drug_payments

In [132]:
# Add drug_payment_id index
df.insert(28, 'drug_payments_id', range(1, 1 + len(df)))

In [133]:
# Subset relevant columns to get medicare_drug_payments table
medicare_drug_payments = df[['drug_payments_id','npi','number_of_unique_beneficiaries_with_drug_services','total_drug_submitted_charges','total_drug_medicare_allowed_amount','total_drug_medicare_payment_amount']]

In [134]:
# Rename to fit the schema
medicare_drug_payments.columns = ['drug_payments_id','npi','number_medicare_beneficiaries_with_drug','drug_submitted_charges','drug_medicare_allowed','drug_medicare_payment']

In [135]:
# Populate the database
medicare_drug_payments[['drug_payments_id','npi','number_medicare_beneficiaries_with_drug','drug_submitted_charges','drug_medicare_allowed','drug_medicare_payment']]. \
    drop_duplicates().to_sql(name='medicare_drug_payments', con=engine, if_exists='append', index=False)

In [136]:
# Add delete and update cascade 
medicare_drug_payments = relationship("medicare_drug_payments", cascade="all,delete", backref="providers")

medical_payment

In [137]:
# Add medical_payment_id  index
df.insert(37, 'medical_payment_id', range(1, 1 + len(df)))

In [138]:
# Subset relevant columns to get medical_payment table
medical_payment = df[['medical_payment_id','npi','total_medical_submitted_charges','total_medical_medicare_allowed_amount','total_medical_medicare_payment_amount']]

In [139]:
# Rename to fit the schema
medical_payment.columns = ['medical_payment_id','npi','submitted_charges','medicare_allowed','medicare_payment']

In [140]:
# Populate the database
medical_payment[['medical_payment_id','npi','submitted_charges','medicare_allowed','medicare_payment']]. \
    drop_duplicates().to_sql(name='medical_payment', con=engine, if_exists='append', index=False)

In [141]:
# Add delete and update cascade
medical_payment = relationship("medical_payment", cascade="all,delete", backref="providers")

drug_services

In [142]:
# Add drug_services_id  index
df.insert(27, 'drug_services_id', range(1, 1 + len(df)))

In [143]:
# Subset relevant columns to get medical_payment table
drug_services = df[['drug_services_id','npi','drug_suppress_indicator','number_of_hcpcs_associated_with_drug_services','number_of_drug_services']]

In [145]:
# Change * with Y, meaning this drug has been suppressed, NA with N, meaning no suppression existists.
rug_services['drug_suppress_indicator'] = drug_services.drug_suppress_indicator.fillna('N')
drug_services.drug_suppress_indicator[drug_services.drug_suppress_indicator == '*'] = 'Y'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [146]:
# Rename to fit the schema
drug_services.columns = ['drug_services_id','npi','drug_suppress_indicator','number_of_hcpcs_associated_with_drug_services','number_of_drug_services']

In [147]:
# Populate the database
drug_services[['drug_services_id','npi','drug_suppress_indicator','number_of_hcpcs_associated_with_drug_services','number_of_drug_services']]. \
    drop_duplicates().to_sql(name='drug_services', con=engine, if_exists='append', index=False)

In [148]:
# Add delete and update cascade
drug_services = relationship("drug_services", cascade="all,delete", backref="providers")

medical_services

In [149]:
# Add medical_services_id  index
df.insert(35, 'medical_services_id', range(1, 1 + len(df)))

In [150]:
# Subset relevant columns to get medical_services table
medical_services = df[['medical_services_id','npi','medical_suppress_indicator','number_of_hcpcs_associated_with_medical_services','number_of_medical_services','number_of_unique_beneficiaries_with_medical_services']]

In [151]:
# Change # with Y, meaning this medical service has been suppressed, NA with N, meaning no suppression existists.
medical_services['medical_suppress_indicator'] = medical_services.medical_suppress_indicator.fillna('N')
medical_services.medical_suppress_indicator[medical_services.medical_suppress_indicator == '#'] = 'Y'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [152]:
# Rename to fit the schema
medical_services.columns = ['medical_services_id','npi','medical_suppress_indicator','number_of_hcpcs_medical_services','number_medical_services','number_of_medicare_beneficiaries_with_medical_services']

In [153]:
# Populate the database
medical_services[['medical_services_id','npi','medical_suppress_indicator','number_of_hcpcs_medical_services','number_medical_services','number_of_medicare_beneficiaries_with_medical_services']]. \
    drop_duplicates().to_sql(name='medical_services', con=engine, if_exists='append', index=False)

In [154]:
# Add delete and update cascade
medical_services = relationship("medical_services", cascade="all,delete", backref="providers")